

/* Style the tab */
.ver-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #002233;
  c

}

/* Style the buttons inside the tab */
.ver-tab button {
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.ver-tab button:hover {
  background-color: grey;
}

/* Create an active/current tablink class */
.ver-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.ver-tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.germany{
  border: 5px solid darkgrey;
  background-color:lightgrey;
  opacity: 0.9
}

.britain{
  border: 5px solid darkgreen;
  background-color:green;
  opacity: 0.7;
  color: white
}

.soviet_union{
  border: 5px solid yellow;
  background-color:red;
  opacity: 0.8;
  color:white;
}

.japan{
  border: 5px solid red;
  background-color:white;
  opacity: 0.7;
}

.usa{
  border: 5px solid blue;
  background-color:skyblue;
  opacity: 0.7;
}



/*image dropdown*/
.img_dropdown {
  position: relative;
  display: inline-block;
}

.img_dropdown-content {
  border: 3px solid #002233;
  opacity: 1;
  float: right;
  display: none;
  background-color: grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.img_dropdown:hover .img_dropdown-content {
  display: block;
}

.description {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}


.reference{
  border: 5px solid;
  border-radius: 25px;
  background-color:white;
  opacity: 0.7;
  padding: 20px;
}

.fancy_link{
  text-decoration: none;
  font-size: 20px;
  color: white;
}





















